<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>RGB Light Card playground</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <style>
            body {
                background: #20262e;
                padding: 30px 0;
                font-family: sans-serif;
            }
            #app {
                background: #fff;
                border-radius: 4px;
                padding: 40px 0;
                width: 960px;
                margin: auto;
            }
            [v-cloak] {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="row">
                    <div class="col text-center mb-3">
                        <div class="h2 text-monospace">RGB Light Card playground</div>
                    </div>
                </div>
                <div class="row" v-cloak>
                    <div class="col-6">
                        <textarea class="form-control text-monospace w-100" v-model="rawConfig" rows="15"></textarea>
                    </div>
                    <div class="col-6">
                        <div v-if="error" class="alert alert-danger">
                            <h6 class="alert-heading">Configuration error</h6>
                            <code>{{ error }}</code>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <rgb-light-card id="card"></rgb-light-card>
                            </div>
                        </div>
                        <div v-if="service" class="alert alert-info">
                            <h6 class="alert-heading">Service called</h6>
                            <pre>{{ service }}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="../card.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../node_modules/yamljs/dist/yaml.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: () => ({
                rawConfig:
                    localStorage.getItem('config') ||
                    `entity: light.example_light
colors:
  - rgb_color:
        - 255
        - 127
        - 255
    brightness: 220
    transition: 1
  - hs_color:
        - 60
        - 30
    icon_color: '#fff8b0'`,
                card: null,
                error: '',
                service: null,
            }),
            computed: {
                config() {
                    return YAML.parse(this.rawConfig);
                },
            },
            watch: {
                rawConfig() {
                    this.setConfig();
                },
            },
            mounted() {
                this.card = document.getElementById('card');
                this.setConfig();
                this.card.hass = {
                    callService: this.callService,
                };
            },
            methods: {
                callService(domain, service, payload) {
                    this.service = YAML.stringify(
                        {
                            service: `${domain}.${service}`,
                            data: JSON.parse(JSON.stringify(payload)),
                        },
                        8
                    );
                },
                setConfig() {
                    try {
                        this.card.setConfig(this.config);
                        localStorage.setItem('config', this.rawConfig);
                        this.error = null;
                    } catch (e) {
                        this.error = e;
                        throw e;
                    }
                },
            },
        });
    </script>
</html>
